html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-font-family: 'Dosis', sans-serif; /* this is the rest of the output we got from Google fonts */
}
h1 {
  font-size: 50px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;

}
html {
  background-color: #00539F;
}
body {
  width: 700px;
  margin: 20px auto;
  background-color: #AFD8F7;
  padding: 0 10px 30px 50px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 10px 0;
  color: #00539F;
  text-shadow: 3px 3px 10px black;
}

img {
    position: relative;
    float: center;
    width:  50px;
    height: 50px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
